<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="card bg-light shadow">
      <div class="card-header">
        <h2 class="text-center">ARAM</h2>
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
            <h3>Player statistics</h3>
            <tr>
              <th scope="col">Games</th>
              <th scope="col">Wins</th>
              <th scope="col">Losses</th>
              <th scope="col">Winrate</th>
              </tr>
              <tr>
                <td>{{rank.games}}</td>
                <td>{{rank.wins}}</td>
                <td>{{rank.losses}}</td>
                <td>{{rank.wr}}</td>
              </tr>
              <h3>Champion statistics</h3>
            <tr>
              <th scope="col">Champion</th>
              <th scope="col">Games</th>
              <th scope="col">Wins</th>
              <th scope="col">Winrate</th>
            </tr>

            <tr *ngFor="let champ of champs">
              <td><img src="http://ddragon.leagueoflegends.com/cdn/12.23.1/img/champion/{{champ.name}}.png"
                  class="img-fluid" style="max-width: 25px" title="{{champ.name}}"> {{champ.name}}</td>
              <td>{{champ.games}}</td>
              <td>{{champ.wins}}</td>
              <td>{{champ.wr}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>